@model RealTimeCollaborativeWhiteboard.Models.Files

@{
    ViewBag.Title = "Test Files";
}

<h2>Test Files</h2>

@using (Html.BeginForm("SavePhoto", "CreateFiles", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        <label for="photoFile">Select Photo:</label>
        <input type="file" name="photoFile" id="photoFile" accept="image/*" />
    </div>
    <button type="submit">Save Photo</button>
}
