@model IEnumerable<RealTimeCollaborativeWhiteboard.Models.Notes>
@{
    ViewBag.Title = "Test Desk";
}

<h1>Notes page</h1>
<table class="table">
    <tr><th>Name</th><th>Content</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.Content</td>
        </tr>
        <td>
            <form asp-controller="ViewNotes" asp-action="Delete" method="post" asp-route-id="@item.NotesId">
                <input type="submit" value="Удалить" />
            </form>
        </td>
    }
</table>


