@model IEnumerable<RealTimeCollaborativeWhiteboard.Models.Notes>
@{
    ViewBag.Title = "Test Desk";
}

<h1 class="text-light">Notes page</h1>
<table class="table text-light">
    <thead>
        <tr>
            <th>Name</th>
            <th>Content</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Content</td>
                <td>
                    <form asp-controller="ViewNotes" asp-action="Delete" method="post" asp-route-id="@item.NotesId">
                        <input type="submit" value="Удалить" />
                    </form>
                </td>
                <td>
                    <form asp-controller="ViewNotes" asp-action="Edit" method="post" asp-route-id="@item.NotesId">
                        <input type="submit" value="Edit" />
                    </form>
                </td>
            </tr>
        }
    </tbody>

</table>