@{
    ViewData["Title"] = "UploadMusic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>

<a asp-action="Upload" class="btn btn-lg btn-primary btn-register fs-5">Upload New</a>
