@{
    ViewData["Title"] = "Home Page";
}
<div class="d-flex main-container justify-content-center align-items-center">
    <div class="text-center">
        <h1 class="display-4 font-poppins">Welcome</h1>
        <p class="font-poppins">
            Welcome to <strong>DataScribe</strong>!<br>
            Here you can conveniently store your data and write personal notes.<br>
            Start your journey to an organized and creative life right now!
        </p>
    </div>
</div>
