@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Ласкаво просимо</h1>
    <p>
        Ласкаво просимо до <strong>DataScribe</strong>!<br>
        Тут ви зможете зручно зберігати свої дані та писати особисті записи.<br>
        Розпочніть свою подорож до організованого та креативного життя прямо зараз!
    </p>
</div>
