@model IEnumerable<string>

@{
    ViewBag.Title = "Test Desk";
}

<!DOCTYPE html>
<html>
<head>
    <title>Image Gallery</title>
    <style>
        .fixed-size-image {
            width: 500px; /* Задайте бажану ширину */
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
</head>
<body>
    <h1>Image Gallery</h1>
    <div>
        @foreach (var file in Model)
        {
            <a href="@(ConvertImageToBase64(file))" data-fancybox="gallery">
            <img class="fixed-size-image" src="@(ConvertImageToBase64(file))" alt="Photo" />
            </a>
        }
    </div>
    <script>
        $(document).ready(function () {
            $('.fancybox').fancybox();
        });
    </script>
</body>
</html>


@functions {
    string ConvertImageToBase64(string imagePath)
    {
        byte[] imageBytes = System.IO.File.ReadAllBytes(imagePath);
        string base64String = "data:image/png;base64," + Convert.ToBase64String(imageBytes);
        return base64String;
    }
}