html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


.fixed-size-image {
    width: 205px;
}
.modal-dialog {
    max-width: 90%; 
    width: auto;
  min-height: 100%;
}
