<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DataScribe</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/view_image.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RealTimeCollaborativeWhiteboard.styles.css" asp-append-version="true" />
</head>
<body class="main-background">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm mb-3 nav-panel-backrgound">
            <div class="container-fluid ps-5 pe-5">
                <a class="text-decoration-none me-3" asp-area="" asp-controller="Home" asp-action="Index">
                    <div class="logo-container d-flex">
                        <img class="me-1" src="/img/svg/logo.svg" />
                        <div class="m-0 p-0">
                            <p class="navbar-brand text-light logo-title">DataScribe</p>
                            <p class="text-muted m-0 logo-subtitle">Today - Tomorrow</p>
                        </div>
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="ViewFiles" asp-action="Index">ViewFiles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="ViewNotes" asp-action="Index">ViewNotes</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted footer-background">
        <div class="container">
            <p class="text-light"></p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
