@model RealTimeCollaborativeWhiteboard.Models.Desk

@{
    ViewBag.Title = "Test Desk";
}

<h2>Test Desk</h2>

@using (Html.BeginForm("SavePhoto", "CreateDesk", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        <label for="photoFile">Select Photo:</label>
        <input type="file" name="photoFile" id="photoFile" accept="image/*" />
    </div>
    <button type="submit">Save</button>
}
