
@{
    ViewData["Title"] = "CreateDesk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>

<a asp-action="Create" class="btn btn-lg btn-primary btn-register fs-5">Create New</a>
